@model IEnumerable<CSVFile.Models.CSVData>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table id="dataTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>DateOfBirth</th>
                <th>Married</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var data in Model)
                {
                    <tr>
                        <td>@data.Name</td>
                        <td>@data.DateOfBirth</td>
                        <td>@data.Married</td>
                        <td>@data.Phone</td>
                        <td>@data.Salary</td>
                        <td>
                            <a asp-controller="CSVData" asp-action="Edit" asp-route-id="@data.Id" class="btn btn-primary editBtn">Edit</a>
                            <a asp-controller="CSVData" asp-action="Delete" asp-route-id="@data.Id" class="btn btn-danger deleteBtn">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>DateOfBirth</th>
                <th>Married</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts{
    <script>$('#dataTable').DataTable();</script>
}